@import '../../scss/vars.scss';

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  box-shadow: none !important;
}

.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  background: rgba(0, 0, 0, 0.1) !important;
}

.task-done__btn {
  transition: 0.3s !important;

  &:hover {
    color: $green !important;
  }
}
