@import '../../scss/vars.scss';

.range-calendar {
  &__input {
    display: flex;
    align-items: center;
    margin: 5px;
    position: relative;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
    box-shadow: inset 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
    background: #84c4ff;

    &::-webkit-input-placeholder {
      color: $white;
    }

    &::-moz-placeholder {
      color: $white;
    }
  }
}

//Date-piker
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: $lightFobos !important;
}

.react-datepicker__navigation--next,
.react-datepicker__navigation--previous {
  background: transparent !important;
  box-shadow: none !important;
}

.react-datepicker__navigation--previous {
  margin-left: 0 !important;
}

.react-datepicker__close-icon {
  background: transparent !important;
  margin-left: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  margin-right: 2px;

  &::after {
    background-color: transparent !important;
    font-size: 22px !important;
  }

  &:hover {
    opacity: 1 !important;
    box-shadow: none !important;
  }
}

//Dark mode
.wrapper {
  &.dark {
    .range-calendar {
      &__input {
        color: $grey;
        background: #000;
        box-shadow: 0 0 2pt 0.2pt #919cb8;
      }

      input::-webkit-input-placeholder {
        color: $grey;
      }

      input::-moz-placeholder {
        color: $grey;
      }
    }

    .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
      background: $grey;
    }

    .react-datepicker__month-container {
      background: $grey;
    }
  }
}
