@import '../../scss/vars.scss';

.custom-select {
  &__control {
    background-color: transparent;
    font-size: 13px;
    border: none !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3) !important;
    outline: none;
  }

  &--menu-is-open {
    box-shadow: none !important;
  }

  &__value-container {
    cursor: text;
  }

  &__indicators {
    cursor: pointer;
  }

  &__indicator:hover {
    color: grey !important;
  }

  &__menu {
    font-size: 13px;
  }

  &__option {
    cursor: pointer !important;
    &--is-focused {
      background-color: $lightFobos !important;
    }
  }

  &__input {
    box-shadow: none !important;
  }
}
