@import '../../scss/vars.scss';

.search {
  &__input {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 300px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: $minRadius;
    color: $white;
    box-shadow: inset 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
    background: $lightFobos;

    &::-webkit-input-placeholder {
      color: $white;
    }

    &::-moz-placeholder {
      color: $white;
    }
  }
}

//Dark mode
.wrapper {
  &.dark {
    .search {
      &__input {
        background-color: #000;
        box-shadow: 0 0 2pt 0.2pt #919cb8;
      }

      input::-webkit-input-placeholder {
        color: $grey;
      }

      input::-moz-placeholder {
        color: $grey;
      }
    }
  }
}
