@import '../scss/vars.scss';

.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  padding: 0 20px;
  margin-bottom: 10px;
  border-radius: $minRadius;
  background-color: $white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

  & button {
    border: none;
    background: $lightFobos;
    color: $white;
    border-radius: $minRadius;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 5px 15px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
      opacity: 0.9;
      box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }

  &__img-wrapper {
    display: flex;
    width: 70px;
  }
}
