@import '../scss/vars';

.fobos-footer {
  display: flex;
  width: 100%;
  min-height: 50px;
  padding: 0 20px;
  margin-bottom: 10px;
  border-radius: $minRadius;
  background-color: $white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

  &__container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__copyright {
    display: flex;
    align-items: center;
  }

  &__copyright > span {
    color: $grey;
    font-weight: 400;
    font-size: 15px;
    padding: 15px;
  }

  &__info {
    display: flex;
    align-items: center;
    cursor: pointer;

    & > span {
      color: $fobos;
      font-weight: 400;
      font-size: 15px;
      padding: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .fobos-footer {
    &__container {
      flex-direction: column;
      flex-wrap: wrap;
    }

    &__info > span {
      padding-top: 0;
      text-align: center;
    }
  }
}

//Dark mode
.wrapper {
  &.dark {
    .fobos-footer {
      background: $lightBlack;
      box-shadow: 0 0 5pt 0.5pt $grey;

      & span {
        color: $darkText;
        transition: 0.3s;
      }

      &__info span:hover {
        color: $fobos;
      }
    }
  }
}
