@import '../scss/vars.scss';

.task-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 779px;
  padding: 10px 10px 0;
  margin-bottom: 10px;
  border-radius: $minRadius;
  background: $white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: 0.7s;

  &.active {
    height: 619px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    & button,
    select {
      border: none;
      background: $lightFobos;
      color: $white;
      border-radius: $minRadius;
      box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
      padding: 5px 15px;
      cursor: pointer;
      transition: all ease-in-out 0.3s;

      &:hover {
        opacity: 0.9;
        box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .faqs-btn {
    background: $fobos;
  }
}

//Custom scroll
.task-list__list::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.task-list__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $lightFobos;
}

.task-list__list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

@media print {
  #noPrint {
    display: none;
  }
}

.wrapper {
  &.dark {
    .task-list {
      background: $lightBlack;
      box-shadow: 0 0 5pt 0.5pt $grey;

      & button {
        color: $grey;
        background: $darkBlack;
        box-shadow: 0 0 2pt 0.2pt #919cb8;
      }

      .connection-type {
        color: $grey;
        background-color: #000;
        box-shadow: 0 0 2pt 0.2pt #919cb8;
      }

      .faqs-btn {
        color: $darkBlack;
        background-color: $grey;
        box-shadow: 0 0 2pt 0.2pt $darkBlack;
      }
    }
  }
}
